.fn-font-title {
    font-family: 'Lato-Regular';
}

.fn-navbar-text,
.fn-navbar-text .nav-link {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: black;
}

.unscrolled-nav.navbar .navbar-brand {
    display: none;
}

.scrolled-nav.navbar {
    background-color: white;
}

.navbar {
    transition: all 0.2s;
}

.unscrolled-nav .language-select button {
    border: solid 1px white;
    color: white;
    background-color: transparent;
    border-radius: 10px;
}

.scrolled-nav .language-select button {
    color: black;
    border: none;
    background-color: transparent;
}

.lang-label {
    display: flex;
    align-items: center;
    font-weight: 600;
}


@media only screen and (max-width: 600px) {
    .language-select button {
        margin: 20px 0px;
    }

    .language-select {
        display: flex;
        float: right;
    }

    .scrolled-nav .language-select button {
        border: solid 1px black;
        border-radius: 10px;
    }

    .unscrolled-nav.navbar .collapsing,
    .unscrolled-nav.navbar .collapse.show {
        padding-top: 25px;
        background-color: rgba(0, 0, 0, 0.85);
        border-radius: 10px;
    }

}

@media only screen and (min-width: 600px) {
    .scrolled-nav .fn-navbar-nav {
        height: 67px;
    }

    .unscrolled-nav .fn-navbar-nav {
        height: 80px;
    }

    .scrolled-nav {
        padding: 0px 10px;
    }

    .unscrolled-nav {
        padding: 15px 40px;
    }

    .fn-sec-schedule .container-fluid {
        padding-right: 3rem !important;
        padding-left: 3rem !important;
    }
}

.carousel-image {
    height: 100vh;
    transition: transform 5s linear;
}


.carousel-image.slide-1 {
    background: linear-gradient(to right, rgba(16, 16, 16, 1) 0%, rgba(16, 16, 16, 0.1) 100%), url(../images/pic/carousel-1.webp), lightgray;
    background-position: center;
    background-size: cover;
}

.carousel-image.slide-2 {
    background: linear-gradient(to right, rgba(16, 16, 16, 0) 0%, rgba(16, 16, 16, 1) 100%), url(../images/pic/carousel-2.webp), lightgray;
    background-position: top;
    background-size: cover;
}

.carousel-image.slide-3 {
    background: linear-gradient(to right, rgba(16, 16, 16, 1) 0%, rgba(16, 16, 16, 0.1) 100%), url(../images/pic/carousel-3.webp), lightgray;
    background-position: top;
    background-size: cover;
}

.active.carousel-item .carousel-image {
    transform: scale(1.1);
}

.picture-credit {
    color: white;
    background-color: rgba(255, 255, 255, 0.13);
    font-family: "Poppins";
    font-size: 15px;
    font-weight: 300;
    padding: 10px 15px;
    transition: all 0.5s;
}


.picture-credit.small {
    font-family: "Poppins";
    font-size: 9px;
    font-weight: 300;
    padding: 5px 10px;
}

.picture-credit:hover {
    transform: scale(1.1);
}

.carousel-panel-1 {
    position: absolute;
    left: 0;
    top: 25vh;
    color: white;
    padding: 0px 2vw;
}

.carousel-panel-2 {
    position: absolute;
    right: 0;
    top: 50vh;
    color: white;
    padding: 0px 2vw;
}

.carousel-panel-3 {
    position: absolute;
    left: 0;
    top: 20vh;
    color: white;
    padding: 0px 2vw;
}

.carousel-title {
    font-family: Lato-Regular;
    font-weight: 500;
    line-height: 1.25;
}

.fn-primary-btn.btn {
    background-color: #A88FC3;
    color: white;
    font-family: Lato;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 10px 20px;
}

.fn-primary-btn.btn:hover,
.fn-primary-btn.btn:active {
    background-color: rgba(168, 143, 195, 0.8);
}

.fn-jikoshokai-text {
    font-family: Lato;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    margin-top: 25vh;
}

.fn-jikoshokai {
    font-size: 15px;
    font-weight: 800;
    color: #A88FC3;
    font-style: normal;
    display: flex;
}

.fn-logo-carousel {
    position: absolute;
    right: 0;
    bottom: 10px;
}

.carousel-description {
    font-family: Poppins;
    font-size: 15px;
    padding-left: 2px;
    max-width: 600px;
}

.fn-section-title-text h1 {
    position: relative;
    font-family: Lato;
    font-weight: 700 !important;
    color: #F5ADCB;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 1.5px white;
    letter-spacing: -1.5px;
    z-index: 2;
    margin-left: -50px;
    margin-bottom: 0px;
    padding: 7px 0;
}

.fn-section-title-text {
    display: flex;
    align-items: stretch;
}

.fn-section-title-text>.fn-title-accent {
    width: 100px;
    background-color: #A88FC3;
    z-index: 1;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.fn-sec-timeline {
    background: rgba(237, 224, 229, 0.45);
}

.fn-footer {
    background-color: #F5ADCB;
    color: white;
    font-family: Poppins;
    font-size: 16pX;
}

.fn-txt-freyanation-footer h5 {
    font-family: Lato;
    font-weight: 700;
    margin: 0;
}

.fn-footer-title {
    font-family: Lato;
    border-bottom: solid 2px white;
}

.fn-footer-title h5 {
    font-weight: 700;
}

.fn-footer-link a {
    color: white;
    text-decoration: none;
}

.fn-footer-link a:hover {
    font-weight: 600;
}

.fn-timeline-image img,
.fn-recap-image img,
.fn-article-image img {
    object-fit: cover;
    object-position: center;
    transition: all 0.5s;
}

.fn-timeline-image img {
    height: 100%;
    width: 100%;
}

.fn-recap-image img {
    height: 700px;
    width: 100%;
    opacity: 0.85;
}

.fn-timeline-image:hover img,
.fn-recap-image:hover img {
    transform: scale(1.05);
    opacity: 0.75;
}


.fn-timeline-image,
.fn-recap-image,
.fn-article-image {
    background-color: black;
    overflow: hidden;
    padding: 0;
    position: relative;
}

.fn-recap-image {
    background-color: white;
}

.fn-recap-image {
    margin-top: -200px;
}

.fn-sec-schedule {
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.58) 0%, rgba(255, 255, 255, 0.58) 100%), url(../images/pic/schedule-bg.webp), lightgray 50% / cover no-repeat;
    background-size: cover;
}

.schedule-title {
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Poppins-Regular;
    font-size: 25px;
    font-weight: 800;
    line-height: normal;
}

.schedule-tile {
    min-height: 80px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.schedule-tile-date {
    width: 100px;
    text-align: center;
    background-color: #F5ADCB;
    color: #FFF;
    font-family: Poppins;
}

.schedule-desc {
    font-family: Lato;
    width: 100%;
    line-height: 1;
}

.fn-badge-schedule {
    font-family: Poppins-Regular;
    font-weight: 500;
    font-size: 12px;
    padding: 5px 10px;
}

.schedule-loc {
    font-family: Lato-Regular;
    font-size: 15px;
    color: #969696;
}

.schedule-time {
    margin-top: 10px;
    font-family: Lato;
    font-weight: 600;
    font-size: 13px;
}

.schedule-more>a {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 13px;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 600;
    text-decoration: underline;
    color: #F5ADCB;
}

.schedule-more {
    text-align: end;
}

.schedule-show {
    font-size: 17px;
    font-weight: 600;
}

.fn-sec-socmed {
    background-color: #FFFBF2;
}

.fn-sec-recap {
    background-color: #FFF5F5;
    padding-top: 25px;
    position: relative;
}

.schedule-img {
    width: 80px;
    min-height: 85px;
    object-fit: cover;
}

.socmed-title {
    font-family: Poppins;
    font-weight: 600;
    font-size: 24px;
}

.total-show-recap {
    max-width: 200px;
    background-color: #E8AF3F;
    padding: 10px;
    color: white;
    border-radius: 15px;
    text-align: center;
    line-height: 1.2;
}

.total-show-recap-no {
    font-family: Lato;
    font-weight: 700;
    font-size: 45px;
}

.total-show-recap-text {
    font-family: Poppins;
    font-weight: 500;
    font-size: 20px;
}

.show-recap {
    min-width: 150px;
    padding: 10px;
    color: white;
    border-radius: 15px;
    text-align: center;
    line-height: 1.2;
    margin: 0px 5px;
}

.show-recap-ended {
    background-color: #35459A;
}

.show-recap-ongoing {
    background-color: #F5ADCB;
}

.show-recap:first-child {
    margin-left: 0px;
}


@media only screen and (max-width: 1000px) {
    .show-recap {
        margin-left: 0px;
    }
}

.show-recap-no {
    font-family: Lato-Regular;
    font-weight: 500;
    font-size: 32px;
}

.show-recap-text {
    font-family: Poppins;
    font-weight: 500;
    font-size: 14px;
}

.text-recap-subtitle {
    font-family: Poppins;
    font-weight: 600;
    font-size: 27px;
}

.fn-sec-video {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.58) 0%, rgba(255, 255, 255, 0.58) 100%), url(../images/pic/video-bg.webp), lightgray 50% / cover no-repeat;
    background-size: cover;
    background-position: bottom;
    padding-top: 30px;
    padding-bottom: 50px;
}

.fn-sec-article {
    padding: 35px 0;
}

.fn-article-image img {
    width: 100%;
    height: 350px;
    opacity: 0.7;
}

.fn-article-image {
    position: relative;
}

.fn-article-image .fn-article-category.badge {
    position: absolute;
    top: 25px;
    left: 25px;
}

.fn-article-category.badge {
    font-family: Poppins-Regular;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    padding: 5px 20px;
}

.fn-article-panel:hover .fn-article-image img {
    transform: scale(1.07);
    opacity: 1;
}

.fn-article-title {
    position: relative;
    background-color: white;
    margin-top: -75px;
    margin-left: 30px;
    margin-right: 30px;
    font-family: Lato-Regular;
    font-weight: 500;
    font-size: 28px;
    padding: 15px 20px;
    line-height: 1.2;
    color: black;

}

.fn-article-panel a {
    text-decoration: none;
    color: black;
}

.fn-article-date {
    font-family: Poppins-Regular;
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.46);
}

.fn-milestone-text {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    font-family: Poppins;
}

.fn-milestone-title {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 5px;
}

.fn-milestone-desc {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    line-height: 1.4;
}

.fn-milestone-date {
    display: flex;
    height: 30px;
}

.fn-milestone-panel-icon {
    width: 30px;
    background-color: #A88FC3;
    margin-bottom: -5px;
    margin-right: 5px;
    border-radius: 10px 10px 10px 0;
    transition: all 0.2s;
}

.fn-milestone-panel-date {
    font-family: Lato;
    font-weight: 600;
    align-self: center;
    font-style: italic;
}

.fn-milestone:hover .fn-milestone-date>.fn-milestone-panel-icon {
    background-color: #F5ADCB;
}

.fn-copyright-text {
    font-family: Poppins-Regular;
    font-weight: 500;
    font-size: 15px;
}

.fn-header-page {
    position: relative;
    height: 500px;
    background-position: center;
    background-size: cover;
}

.fn-gallery-background {
    background-image: url(../images/pic/gallery-freya-bg.webp);
    background-position: top;
}

.fn-overlay-black {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: rgba(16, 16, 16, 0.65);
}

.fn-page-description {
    position: absolute;
    bottom: 0;
    color: white;
    padding-left: 4vw;
    padding-bottom: 5vw;
}

.fn-page-text-title {
    font-family: Lato-Regular;
    font-weight: 500;
    font-size: 42px;
}

.fn-page-text-subtitle {
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    padding-top: 1vw;
}

.fn-page-content-bg {
    background-color: #EFF3F5;
}

.fn-page-content {
    background-color: white;
    border: solid 1px #DADADA;
}

.fn-content-title h3 {
    font-family: Lato;
    font-weight: 600;
    line-height: 1;
}

.fn-line-title {
    max-width: 300px;
    border-top: solid 1.5px #F5ADCB;
}

.fn-content-text {
    font-family: Poppins;
    font-size: 16px;
}

.fn-biodata-panel {
    background-color: rgba(245, 173, 203, 0.15);
    border: solid 1px #DADADA;
}

.fn-biodata-image {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.fn-biodata-image img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: top;
}

.fn-biodata-title {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
}

.fn-biodata-detail {
    font-family: Poppins;
    font-size: 14px;
}

.fn-schedule-background {
    background-image: url(../images/pic/schedule-page-bg.webp);
}

.fn-schedule-subheader {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
}

.profile-desc {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
    text-align: justify;
}

.profile-desc b {
    font-weight: 600;
}

.fn-freyanation-background {
    background-image: url(../images/pic/freyanation-bg.webp);
    background-position: top;
}

.fn-sch-thumbnail {
    position: relative;
    width: 300px;
    height: 225px;
    overflow: hidden;
}

.fn-sch-thumbnail .schedule-img-thumbnail {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

.fn-sch-thumbnail:hover img {
    transform: scale(1.05);
}

.fn-sch-thumbnail-time {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #F5ADCB;
    color: #FFF;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 600;
}

.fn-badge-thumbnail {
    position: absolute;
    right: 0;
    top: 0;
}

.fn-sch-thumbnail-wrapper {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.fn-gallery-thumbnail {
    position: relative;
    height: 300px;
    overflow: hidden;
    cursor: pointer;
}

.fn-gallery-image-title {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

.fn-gallery-thumbnail:hover img {
    transform: scale(1.05);
}

.fn-gallery-image-panel {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.50);
    color: white;
}

.fn-gip-title {
    font-family: Lato-Regular;
    font-size: 23px;
}

.fn-gip-subtitle {
    font-family: Poppins;
    font-weight: 300;
    font-size: 14px;
    margin-top: -2px;
}

.fn-art-main-hl {
    position: relative;
    height: 600px;
    background-color: black;
    overflow: hidden;
}

.fn-art-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
}

.fn-art-main-hl .fn-art-main-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
    transition: all 0.5s;
}

.fn-art-main-hl:hover .fn-art-main-img img {
    transform: scale(1.04);
}

.fn-art-main-hl:hover .fn-txt-selengkapnya {
    opacity: 1;
}

.fn-art-main-img {
    width: 100%;
    height: 100%;
}

.fn-art-hl-title-text {
    font-family: Lato;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.25;
}

.fn-art-hl-date-text {
    font-family: Poppins-Regular;
    font-size: 16px;
}

.fn-txt-selengkapnya {
    font-family: Poppins-Regular;
    font-size: 18px;
    text-decoration: underline;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: 0.2s ease;
}

.fn-side-title {
    font-size: 20px;
    font-family: Lato;
    font-weight: 600;
}