@font-face {
  font-family: Poppins;
  src: url(../fonts/poppins/Poppins-Thin.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Poppins;
  src: url(../fonts/poppins/Poppins-ThinItalic.ttf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Poppins;
  src: url(../fonts/poppins/Poppins-Light.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Poppins;
  src: url(../fonts/poppins/Poppins-LightItalic.ttf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Poppins-Regular;
  src: url(../fonts/poppins/Poppins-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Poppins;
  src: url(../fonts/poppins/Poppins-Bold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Poppins;
  src: url(../fonts/poppins/Poppins-BoldItalic.ttf);
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: Poppins;
  src: url(../fonts/poppins/Poppins-Black.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Poppins;
  src: url(../fonts/poppins/Poppins-BlackItalic.ttf);
  font-weight: bold;
  font-style: italic;
}