.scrolled-nav .nav-link.active,
.fn-navbar-text.active.nav-item,
.dropdown-item:active,
.dropdown-item:hover,
.language-select .active.dropdown-item {
    background-color: #F5ADCB;
    color: white !important;
}

.unscrolled-nav .nav-link.active {
    color: #F5ADCB !important;
}

.unscrolled-nav .nav-link,
.unscrolled-nav .fn-navbar-text.nav-item {
    color: white !important;
}

.nav-link:not(.active):hover,
.nav-item.dropdown:hover {
    color: #F5ADCB !important;
}

.fn-navbar-text.active.nav-item a.nav-link {
    color: white !important;
}

.dropdown-toggle.nav-link {
    height: 100%;
}

.dropdown-toggle::after {
    display: none;
}

.carousel-indicators [data-bs-target] {
    background-color: #F5ADCB;
    height: 24px;
    width: 24px;
    border-radius: 30%;
    margin: 0px 8px;
}